body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding-top: 124px;  */
}

@font-face {
  font-family: "Trattatello";
  src: url("./Assets/fonts/Trattatello.ttf") format("truetype");
}

@font-face {
  font-family: "TuskerGrotesk";
  src: url("./Assets/fonts/TuskerGrotesk-4600Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "PPNeueMontreal-Medium";
  src: url("./Assets/fonts/PPNeueMontreal-Medium.otf") format("truetype");
}
