body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding-top: 124px;  */
}

@font-face {
  font-family: "Trattatello";
  src: url("./Assets/fonts/Trattatello.ttf") format("truetype");
}

@font-face {
  font-family: "TuskerGrotesk";
  src: url("./Assets/fonts/TuskerGrotesk-4600Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "PPNeueMontreal-Medium";
  src: url("./Assets/fonts/PPNeueMontreal-Medium.otf") format("truetype");
}

@font-face {
  font-family: "GothamSSm-Bold";
  src: url("./Assets/fonts/GothamSSm-Bold.otf") format("truetype");
}

@font-face {
  font-family: "GothamSSm-Light";
  src: url("./Assets/fonts/GothamSSm-Light.otf") format("truetype");
}

@font-face {
  font-family: "Gotham-Book";
  src: url("./Assets/fonts/Gotham-Book.otf") format("truetype");
}

@font-face {
  font-family: "YatraOne-Regular";
  src: url("./Assets/fonts/YatraOne-Regular.ttf") format("truetype");
}

.dot {
  animation: dotFlashing 1.0s infinite linear alternate;
  font-size: 1.5rem;
}

@keyframes dotFlashing {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
